<h1>Editar ítem</h1>

<form action="/admin/actualizar/{{ item[0] }}" method="POST">
    <label>Nombre: <input type="text" name="nombre" value="{{ item[1] }}" required></label><br>
    <label>Precio: <input type="number" name="precio" value="{{ item[2] }}" required></label><br>
    <label>
        Categoria:
        <select name="categoria">
            <option value="plato" {% if item[3] == "plato" %}selected{% endif %}>Plato</option>
            <option value="bebida" {% if item[3] == "bebida" %}selected{% endif %}>Bebida</option>
        </select>
    </label><br>
    <button type="submit">Guardar cambios</button>
</form>

<a href="/admin">Cancelar</a>