<h1>Menú del Restaurante</h1>

<form action="/pedido" method="POST">

    <label>
        Número de mesa:
        <input type="number" name="mesa" min="1" required>

    </label>
    <br><br>

    <h2>Platos</h2>
    {% for nombre, precio in platos %}
        <label>
            {{ nombre }} - ${{ precio }}
            <input type="number" name="{{ nombre }}" value="0" min="0">
        </label><br>
    {% endfor %}

    <h2>Bebidas</h2>
    {% for nombre, precio in bebidas %}
        <label>
            {{ nombre }} - ${{ precio }}
            <input type="number" name="{{ nombre }}" value="0" min="0">
        </label><br>    
    {% endfor %}

    <br>
    <button type="submit">confirmar pedido</button>

</form>