<h1>Revisá tu pedido - Mesa {{ mesa }} </h1>

<ul>
{% for nombre, cantidad, subtotal in detalle %}
    <li>{{ cantidad }} x {{ nombre }} - ${{ subtotal }}</li>
{% endfor %}
</ul>

<h2>Total: ${{ total }}</h2>

<form action="/confirmar" method="POST">
    <input type="hidden" name="mesa" value="{{ mesa }}">
    {% for nombre, cantidad, subtotal in detalle %}
        <input type="hidden" name="item" value="{{ nombre }}|{{ cantidad }}|{{ subtotal }}">
    {% endfor %}
    <button type="submit">Confirmar y mandar a cocina</button>
</form>
<a href="/">Editar pedido</a>